# maven ignore
target/
*.jar
*.war
*.ear
*.zip
*.rar
*.tar
*.tar.gz

# eclipse ignore
.settings/
.metadata
.externalToolBuilders/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.class
*.log
*.cache
*.diff
*.patch
*.tmp
*.java~
*.properties~
*.xml~
hs_err_pid*

# system ignore
.DS_Store
Thumbs.db
