<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.2.xsd
http://cxf.apache.org/jaxws 
http://cxf.apache.org/schemas/jaxws.xsd
"> 
	<!-- <import resource="classpath:META-INF/cxf/cxf.xml" ></import>
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" /> -->
	<!-- 
	<jaxws:endpoint id="greetingService"
		implementor="com.gary.test.ws.service.impl.GreetingServiceImpl" 
		address="/GreetingService" /> -->
	<!-- 
	<context:component-scan base-package="com.spring.test.bean" />  -->
	
	<!-- jmx.bean -->
	<bean name="myobj" class="com.spring.test.bean.jmx.MyObject">
	    <!-- <property name="id">
	        <value>90000000001</value>
		</property>
		<property name="name">
		    <value>shirdrn</value>
		</property> -->
	</bean>
	<bean name="connmonitor" class="com.spring.test.bean.jmx.ConnMonitor" />
	<!-- 注解方式jmx.bean
	<bean id="annotationTestMBean" class="com.spring.test.bean.jmx.AnnotationTestMBean">
	    <property name="name" value="TEST"/>
	    <property name="age" value="100"/>
	</bean> -->
	<!-- 注解方式探测MBean
	<context:mbean-export default-domain="ShowCase" registration="replaceExisting" />
	或者：<context:mbean-export registration="failOnExisting" /> -->
	<!-- 普通方式探测MBean -->
	<bean id="mbServer" class="org.springframework.jmx.export.MBeanExporter">
	    <property name="autodetectModeName">
	        <value>AUTODETECT_NONE</value>
	    </property>
		<property name="beans">
		    <map>
		        <entry key="mydomain:myobj=MyObjectMBean" value-ref="myobj"/>
		        <entry key="mydomain:connmonitor=ConnMonitorMBean" value-ref="connmonitor"/>
			</map>
		</property>
	</bean>
	<!-- 启动jmx服务 -->
	<bean id="server"  class="org.springframework.jmx.support.ConnectorServerFactoryBean" 
	    depends-on="registry">
	    <property name="objectName">
	        <value>connector:name=rmi</value>
	    </property>
	    <property name="serviceUrl">
	        <value>service:jmx:rmi://localhost/jndi/rmi://localhost:2099/jmxrmi</value>
	    </property>
	</bean>
	<bean id="registry" class="org.springframework.remoting.rmi.RmiRegistryFactoryBean">
	    <property name="port">
	        <value>2099</value>
	    </property>
	</bean>
	
	<!-- 
	<!- - 对JOTM进行初始化 - - >
	<bean id="jotm" class="org.springframework.transaction.jta.JotmFactoryBean"/>
	<bean id="transactionManager" class="org.springframework.transaction.jta.JtaTransactionManager">
		<property name="userTransaction"><ref local="jotm"/></property>
	</bean>
	<!- - 定义所需的数据源 - - >
	<bean id="innerOracleDataSource" class="org.enhydra.jdbc.standard.StandardXADataSource" destroy-method="shutdown">
		<property name="transactionManager"><ref local="jotm"/></property>
		<property name="driverName"><value>oracle.jdbc.driver.OracleDriver</value></property>
		<property name="url"><value>jdbc:oracle:thin:@192.168.230.128:1521:orcl</value></property>
	</bean>
	<bean id="dataSource" class="org.enhydra.jdbc.pool.StandardXAPoolDataSource" destroy-method="shutdown">
		<property name="dataSource"><ref local="innerOracleDataSource"/></property>
		<property name="maxSize"><value>5</value></property>
		<property name="minSize"><value>2</value></property>
		<property name="user"><value>bishow</value></property>
		<property name="password"><value>bishow</value></property>
	</bean>
	<!- - 定义相应的sessionFactory - - >
	<bean id="mySessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>com/vtradex/edi/example/om/oracle/Example.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop>
			</props>
		</property>
		<property name="jtaTransactionManager">
			<ref bean="jotm" />
		</property>
 	</bean>
	<!- - 定义一个进行事务控制的代理 - - >
	<bean id="abstractTransactionProxy" abstract="true"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager"/>
        </property>
        <property name="transactionAttributeSource">
			<bean class="org.springframework.transaction.annotation.AnnotationTransactionAttributeSource"/>
        </property>
	</bean>
	<!- - hql - - >
	<bean id="hqlExecutor1" class="com.vtradex.edi.example.util.HqlExecutor"  scope="singleton">
		<property name="sessionFactory" ref="mySessionFactory"/>
	</bean>
	<bean id="hqlExecutor2" class="com.vtradex.edi.example.util.HqlExecutor"  scope="singleton">
		<property name="sessionFactory" ref="mySessionFactory2"/>
	</bean>
    <bean id="tt" parent="abstractTransactionProxy">
        <property name="target">
			<bean class="com.vtradex.edi.server.service.Tt">
				<property name="hqlExec1" ref="hqlExecutor1"/>
				<property name="hqlExec2" ref="hqlExecutor2"/>
			</bean>
        </property>
    </bean> -->
	<!-- 配置文件
	< bean id="propertiesFiles" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>/WEB-INF/classes/resources/config/common.properties</value>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean> -->
</beans>