<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="CONSOLE_LOG_PATTERN"
		value="%p %d{MM-dd HH:mm:ss.SSS} [%-5level] [%-40.40logger{40}:%-4.5line] [%-24.24thread] - %msg%n}" />

	<property name="logfile.name" value="test" />

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<charset>UTF-8</charset>
			<!-- [%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{50}] -  -->
			<!--<pattern>%msg%n</pattern>-->
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{50}] - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="A1" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>d:/tmp/logs/${logfile.name}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--
			参考ch.qos.logback.core.rolling.helper.RollingCalendarTest
			yyyy-MM-dd_HH_mm_ss
			yyyy-MM-dd_HH_mm
			yyyy-MM-dd_HH
			yyyy-MM-dd_hh
			yyyy-MM-dd
			yyyy-MM
			yyyy-ww
			yyyy-WW
			-->
			<fileNamePattern>d:/tmp/logs/${logfile.name}.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
		<encoder>
			<charset>UTF-8</charset>
			<pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{50}] - %msg%n</pattern>
		</encoder>
	</appender>

<!--	<appender name="A1" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/tmp/test.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
		<fileNamePattern>/tmp/test.log.%i</fileNamePattern>
		<minIndex>1</minIndex>
		<maxIndex>5</maxIndex>
		</rollingPolicy>

		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>100MB</maxFileSize>
		</triggeringPolicy>

		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{MM-dd HH:mm:ss} [%-5level] [%-30.30logger{30}:%-3.4line]
				[%-30.30thread] - %msg%n</pattern>
		</encoder>
	</appender> -->

	<!-- 开启HttpClient wire日志（记录所有HTTP请求/响应的原始数据） -->
	<logger name="org.apache.http.wire" level="DEBUG"/>
	<logger name="org.apache.http.headers" level="DEBUG"/>

	<!-- 对于HttpClient 5.x版本 -->
	<logger name="org.apache.hc.client5.http.wire" level="DEBUG"/>
	<logger name="org.apache.hc.client5.http.headers" level="DEBUG"/>

	<root level="INFO">
		<appender-ref ref="stdout" />
		<!--<appender-ref ref="CONSOLE"/>-->
		<!--<appender-ref ref="A1" />-->
	</root>
</configuration>